# ===============================================
# Python / Django
# ===============================================
__pycache__/
*.py[cod]
*.so
.venv/
venv/
ENV/
db.sqlite3

# ===============================================
# Node / Vue.js
# ===============================================
node_modules/
dist/
.npm/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ===============================================
# Editor / Sistema Operativo
# ===============================================
.vscode/
.DS_Store